$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #fff;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$text-color: #c4c4c4;
$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1200px;
$laptop-small-width: 1024px;
$tablet-width: 767px;
$tablet-small-width: 700px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
