%font-prime {
  font-family: "Georgia", Verdana, sans-serif;
}

%font-add {
  font-family: "Arial", Verdana, sans-serif;
}

%font-h2 {
  font-weight: normal;
  font-style: normal;
  font-size: 3.14rem;
  line-height: 130%;
}

%font-h3 {
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.15rem;
}

%font-h4 {
  font-weight: normal;
  font-style: normal;
  font-size: 1.43rem;
  line-height: 115%;
  letter-spacing: 1.1px;
}

%font-h5 {
  font-weight: normal;
  font-style: normal;
  font-size: 1.07rem;
  line-height: 110%;
  letter-spacing: 0.9px;
}

%font-paragraph-l {
  @extend %font-add;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 160%;
}

%font-paragraph-s {
  @extend %font-add;
  font-weight: normal;
  font-style: italic;
  font-size: 0.86rem;
  line-height: 150%;
}

%font-logo-title {
  font-weight: normal;
  font-style: italic;
  font-size: 2.29rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
}

%font-logo-subtitle {
  @extend %font-add;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 1.3px;
}

%font-btn {
  @extend %font-prime;
  font-weight: normal;
  font-style: normal;
  font-size: 1.21rem;
  line-height: 130%;
  letter-spacing: 0.075rem;
}
