* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body, .button {
  font-family: "Georgia", Verdana, sans-serif;
}

.logo__subtitle, .menu__link, p {
  font-family: "Arial", Verdana, sans-serif;
}

h2 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.7rem;
}

h3 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: #545454;
}

.link, h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.65rem;
  letter-spacing: 0.1rem;
  color: #545454;
}

.menu__link, p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.logo__title {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
  letter-spacing: 0.2rem;
}

.logo__subtitle {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0.13rem;
}

.button {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

@media (max-width: 414px) {
  h3 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.logo__title {
  color: #f1cdb3;
}
.logo__title--dark {
  color: #545454;
}

.logo__subtitle {
  color: #fff;
  padding-left: 2px;
}
.logo__subtitle--dark {
  color: #292929;
}

.button {
  background-color: transparent;
  padding: 15px 43px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}
.button:hover {
  background-color: #fddcc4;
  cursor: pointer;
}
.button--squared {
  background-color: transparent;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.button--filled {
  background-color: #f1cdb3;
}
.button--inactive {
  border-color: #cdcdcd;
  color: #cdcdcd;
}

.button__image {
  vertical-align: middle;
}

.icon {
  display: inline-block;
  cursor: pointer;
}

.icon--first {
  background-image: url("../../assets/icons/icon-first.svg");
  width: 25px;
  height: 11px;
}

.icon--first-inactive {
  background-image: url("../../assets/icons/icon-first-inactive.svg");
  width: 25px;
  height: 11px;
}

.icon--prev {
  background-image: url("../../assets/icons/icon-prev.svg");
  width: 10px;
  height: 11px;
}

.icon--prev-inactive {
  background-image: url("../../assets/icons/icon-prev-inactive.svg");
  width: 10px;
  height: 11px;
}

.icon--next {
  background-image: url("../../assets/icons/icon-next.svg");
  width: 10px;
  height: 11px;
}

.icon--next-inactive {
  background-image: url("../../assets/icons/icon-next-inactive.svg");
  width: 10px;
  height: 11px;
}

.icon--last {
  background-image: url("../../assets/icons/icon-last.svg");
  width: 25px;
  height: 11px;
}

.icon--last-inactive {
  background-image: url("../../assets/icons/icon-last-inactive.svg");
  width: 25px;
  height: 11px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 708px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 300px;
  }
}

.header {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 30px 0;
}
.header--relative {
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  flex: 0 1 443px;
}
@media (max-width: 650px) {
  .header__menu {
    display: none;
  }
}

.menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 2px;
}

.menu__item--active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.menu__link {
  color: #cdcdcd;
}
.menu__link:hover {
  color: #fafafa;
}
.menu__link--dark {
  color: #545454;
}
.menu__link--active-dark {
  color: #292929;
}

.friends {
  background-color: #f6f6f6;
}

.friends__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 768px) {
  .friends__wrapper {
    padding-bottom: 76px;
  }
}
@media (max-width: 414px) {
  .friends__wrapper {
    padding-top: 42px;
    padding-bottom: 44px;
  }
}

.friends__title {
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 414px) {
  .friends__title {
    letter-spacing: 0.15rem;
  }
}

.friends__slider {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .friends__slider {
    margin-top: 30px;
  }
}
@media (max-width: 414px) {
  .friends__slider {
    margin-top: 42px;
  }
}

.friends__button {
  margin: 0 auto;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .slider {
    justify-content: center;
  }
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.slider__item:hover {
  cursor: pointer;
  background-color: #fafafa;
}
@media (max-width: 768px) {
  .slider__item:nth-child(2n) {
    margin-left: 40px;
  }
  .slider__item:nth-child(n+7) {
    display: none;
  }
}
@media (max-width: 414px) {
  .slider__item:nth-child(2n) {
    display: none;
    margin-left: 0;
  }
}

.slider__list {
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .slider__list {
    padding-bottom: 10px;
  }
}

.slider__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  color: #545454;
  letter-spacing: 0.11rem;
  margin: 30px auto;
}

.slide__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  color: #545454;
  letter-spacing: 0.11rem;
  margin: 30px auto;
}

.slider__button {
  padding: 13px 42px;
}

.slider__prev {
  margin-right: -37px;
}

.slider__next {
  margin-left: -37px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__button:not(:first-child) {
  margin-left: 20px;
}
@media (max-width: 414px) {
  .pagination__button:not(:first-child) {
    margin-left: 10px;
  }
}

.footer {
  background: url(../../assets/images/noise_lines_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__wrapper {
  padding-top: 40px;
}
@media (max-width: 768px) {
  .footer__wrapper {
    padding-top: 15px;
    flex-wrap: wrap;
  }
}
@media (max-width: 414px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  padding-top: 16px;
}

.footer__image {
  width: 50%;
  text-align: right;
  height: auto;
  max-height: 310px;
  display: inline-block;
  align-self: flex-end;
}
@media (max-width: 768px) {
  .footer__image {
    width: auto;
    margin: 64px auto 0;
  }
}
@media (max-width: 414px) {
  .footer__image {
    width: auto;
    margin: 90px auto 0;
    height: 270px;
  }
}

.pets__image {
  width: auto;
  max-height: 100%;
}

.footer__title {
  color: #fff;
}

.footer__link {
  font-size: 20px;
  color: #f1cdb3;
  text-align: left;
}

.contacts {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contacts {
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 414px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
}

.contacts__title {
  color: #fff;
  width: 90%;
}
@media (max-width: 414px) {
  .contacts__title {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
  }
}
@media (max-width: 414px) {
  .contacts__title {
    width: 100%;
    text-align: center;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 16px;
  align-items: flex-start;
}
.contacts__item:not(:first-child) {
  padding-left: 93px;
}
@media (max-width: 768px) {
  .contacts__item:not(:first-child) {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .contacts__item {
    width: 45%;
  }
}
@media (max-width: 414px) {
  .contacts__item {
    width: 100%;
  }
  .contacts__item:not(:first-child) {
    margin-top: 24px;
    margin-left: -9px;
  }
}

.contacts__link {
  margin-top: 40px;
}

.location__link {
  margin-top: 33px;
}
@media (max-width: 414px) {
  .location__link {
    margin-left: -10px;
    width: 300px;
  }
}

@media (max-width: 414px) {
  .requisites__link {
    margin-left: 10px;
  }
}

.footer__location {
  margin-left: -25px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.link:hover {
  border: none;
  color: #fafafa;
}

.link__text {
  margin-left: 20px;
  text-align: left;
  color: #f1cdb3;
  letter-spacing: 0.12rem;
}

/*# sourceMappingURL=style.css.map */
