/*
 * Reset default styles
 */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*
 * Variables
 */
:root {
  /* Colors */
  --color-light-s: #fafafa;
  --color-light-l: #f6f6f6;
  --color-light-xl: #fff;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --text-color: #c4c4c4;

  /* Text */
  --h2-ff: "Georgia", sans-serif;
  --h2-fw: normal;
  --h2-fs: normal;
  --h2-fsz: 3.14rem;
  --h2-lh: 130%;

  --h3-ff: "Georgia", sans-serif;
  --h3-fw: normal;
  --h3-fs: normal;
  --h3-fsz: 2.5rem;
  --h3-lh: 130%;
  --h3-ls: 6%;

  --h4-ff: "Georgia", sans-serif;
  --h4-fw: normal;
  --h4-fs: normal;
  --h4-fsz: 1.43rem;
  --h4-lh: 115%;
  --h4-ls: 6%;

  --h5-ff: "Georgia", sans-serif;
  --h5-fw: normal;
  --h5-fs: normal;
  --h5-fsz: 1.07rem;
  --h5-lh: 110%;
  --h5-ls: 6%;

  --paragraph-l-ff: "Arial", sans-serif;
  --paragraph-l-fw: normal;
  --paragraph-l-fs: normal;
  --paragraph-l-fsz: 1.07rem;
  --paragraph-l-lh: 160%;

  --paragraph-s-ff: "Arial", sans-serif;
  --paragraph-s-fw: normal;
  --paragraph-s-fs: italic;
  --paragraph-s-fsz: 0.86rem;
  --paragraph-s-lh: 150%;

  --logo-title-ff: "Georgia", sans-serif;
  --logo-title-fw: normal;
  --logo-title-fs: normal;
  --logo-title-fsz: 2.29rem;
  --logo-title-lh: 110%;
  --logo-title-ls: 6%;

  --logo-subtitle-ff: "Arial", sans-serif;
  --logo-subtitle-fw: normal;
  --logo-subtitle-fs: normal;
  --logo-subtitle-fsz: 0.93rem;
  --logo-subtitle-lh: 100%;
  --logo-subtitle-ls: 10%;
}

/*
 * Layout styles
 */
.body {
  font-size: 14px;
}

.container {
  width: 62.5vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/*
 * First screen
 */
.header-container {
  background: url(../../assets/images/noise_lines_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  height: 100vh;
}

.header-container__container {
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6vh;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__title {
  font-family: var(--logo-title-ff);
  font-weight: var(--logo-title-fw);
  font-style: var(--logo-title-fs);
  font-size: var(--logo-title-fsz);
  line-height: var(--logo-title-lh);
  letter-spacing: var(--logo-title-ls);
  color: var(--color-primary);
}

.logo__subtitle {
  font-family: var(--logo-subtitle-ff);
  font-weight: var(--logo-subtitle-fw);
  font-style: var(--logo-subtitle-fs);
  font-size: var(--logo-subtitle-fsz);
  line-height: var(--logo-subtitle-lh);
  letter-spacing: var(--logo-subtitle-ls);
  color: var(--color-primary);
}

.menu {
  flex: 0 1 50%;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list__item--current {
  color: var(--color-light-s);
  border-bottom: 3px solid var(--color-primary);
}

.menu-list__link {
  font-family: var(--paragraph-l-ff);
  font-weight: var(--paragraph-l-fw);
  font-size: var(--paragraph-l-fsz);
  line-height: var(--paragraph-l-lh);
  color: var(--color-dark-s);
}
