* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body, .button {
  font-family: "Georgia", Verdana, sans-serif;
}

.logo__subtitle, .utp__subtitle, .menu__link, p {
  font-family: "Arial", Verdana, sans-serif;
}

h2 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.7rem;
}

h3 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: #545454;
}

.link, .bank-requisites__text, h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.65rem;
  letter-spacing: 0.1rem;
  color: #545454;
}

.utp__subtitle, .menu__link, p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.logo__title {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
  letter-spacing: 0.2rem;
}

.logo__subtitle {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0.13rem;
}

.button {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

@media (max-width: 414px) {
  h3 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.clearfix {
  display: none;
  margin: 0;
}
@media (max-width: 750px) {
  .clearfix {
    display: block;
    flex-basis: 100%;
    height: 0;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.logo__title {
  color: #f1cdb3;
}
.logo__title--dark {
  color: #545454;
}

.logo__subtitle {
  color: #fff;
  padding-left: 2px;
}
.logo__subtitle--dark {
  color: #292929;
}

.button {
  background-color: transparent;
  padding: 15px 43px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}
.button:hover {
  background-color: #fddcc4;
  cursor: pointer;
}
.button--squared {
  background-color: transparent;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.button--filled {
  background-color: #f1cdb3;
}
.button--inactive {
  border-color: #cdcdcd;
  color: #cdcdcd;
}

.button__image {
  vertical-align: middle;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 708px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 300px;
  }
}

.header {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 30px 0;
}
.header--relative {
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  flex: 0 1 443px;
}
@media (max-width: 700px) {
  .header__menu {
    display: none;
  }
}

.menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 2px;
}

.menu__item--active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.menu__link {
  color: #cdcdcd;
}
.menu__link:hover {
  color: #fafafa;
}
.menu__link--dark {
  color: #545454;
}
.menu__link--dark:hover {
  color: #f1cdb3;
}
.menu__link--active-dark {
  color: #292929;
}

.hero {
  position: relative;
  width: 100%;
  background: url(../../assets/images/noise_lines_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.hero__wrapper {
  align-items: center;
  margin-top: 180px;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .hero__wrapper {
    flex-direction: column;
    margin-top: 150px;
  }
}

.hero__image {
  width: auto;
  height: 100%;
  align-self: flex-end;
  margin-left: 42px;
}
@media (max-width: 1200px) {
  .hero__image {
    height: auto;
    max-height: 593px;
  }
}
@media (max-width: 1024px) {
  .hero__image {
    max-height: 400px;
  }
}
@media (max-width: 768px) {
  .hero__image {
    max-height: 593px;
    width: 100%;
  }
}

.utp {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 460px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .utp {
    padding-bottom: 100px;
  }
}

.utp__title {
  color: #fff;
  width: 80%;
}

.utp__subtitle {
  color: #cdcdcd;
  margin-top: 42px;
}

.utp__button {
  margin-top: 42px;
}
@media (max-width: 768px) {
  .utp__button {
    align-self: center;
  }
}

.about__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .about__wrapper {
    flex-direction: column;
  }
}

.about__content {
  max-width: 430px;
  margin-left: 120px;
}
@media (max-width: 768px) {
  .about__content {
    order: -1;
    max-width: 436px;
    margin-left: 0;
    padding-bottom: 80px;
  }
}

.about__title {
  width: 80%;
  color: #545454;
}

.about__paragraph {
  color: #4c4c4c;
  margin-top: 25px;
}

.friends {
  background-color: #f6f6f6;
}

.friends__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 768px) {
  .friends__wrapper {
    padding-bottom: 76px;
  }
}
@media (max-width: 414px) {
  .friends__wrapper {
    padding-top: 42px;
    padding-bottom: 44px;
  }
}
.friends__wrapper--simple {
  padding-bottom: 100px;
}

.friends__title {
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 414px) {
  .friends__title {
    letter-spacing: 0.15rem;
  }
}

.friends__slider {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .friends__slider {
    margin-top: 30px;
  }
}
@media (max-width: 414px) {
  .friends__slider {
    margin-top: 42px;
  }
}

.friends__button {
  margin: 0 auto;
}
@media (max-width: 750px) {
  .friends__button {
    margin-top: 20px;
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: -40px 0 0 -40px;
  width: calc(100% + 40px);
}
.slider > * {
  margin: 40px 0 0 40px;
}
@media (max-width: 1200px) {
  .slider {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .slider-simple > .slider__item {
    margin-top: 100px;
    margin-bottom: 60px;
  }
  .slider-simple > .slider__item:nth-child(n+4) {
    display: none;
  }
}
@media (max-width: 750px) {
  .slider-simple > .slider__item {
    margin-bottom: 10px;
  }
  .slider-simple > .slider__item:nth-child(n+3) {
    display: none;
  }
}

@media (max-width: 1024px) {
  .slider-simple .slider__item:nth-child(n+4) {
    display: none;
  }
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.slider__item:hover {
  cursor: pointer;
  background-color: #fafafa;
}
@media (max-width: 768px) {
  .slider__item:nth-child(n+7) {
    display: none;
  }
}

.slider__list {
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .slider__list {
    padding-bottom: 10px;
  }
}

.slider__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  color: #545454;
  letter-spacing: 0.11rem;
  margin: 30px auto;
}

.slide__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  color: #545454;
  letter-spacing: 0.11rem;
  margin: 30px auto;
}

.slider__button {
  padding: 15px 42px;
}

.slider__prev {
  margin-right: -28px;
}
@media (max-width: 768px) {
  .slider__prev {
    margin-left: 0;
  }
}
@media (max-width: 750px) {
  .slider__prev {
    order: 1;
    margin: 0;
    margin-right: 20px;
  }
}

.slider__next {
  margin-left: 12px;
}
@media (max-width: 750px) {
  .slider__next {
    order: 2;
    margin: 0;
    margin-right: -30px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__button:not(:first-child) {
  margin-left: 20px;
}
@media (max-width: 414px) {
  .pagination__button:not(:first-child) {
    margin-left: 10px;
  }
}

.help__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 45px;
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 12.1rem;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 55px;
}

.help__title {
  text-align: center;
  margin-bottom: 60px;
}

.help__name {
  margin-top: 30px;
}

.donation {
  background-color: #f6f6f6;
}

.donation__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .donation__wrapper {
    flex-direction: column;
  }
}

.donation__content {
  max-width: 380px;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .donation__content {
    order: -1;
    margin-left: 0;
    padding-bottom: 59px;
  }
}

.donation__title {
  width: 80%;
  margin-bottom: 20px;
}

.donation__subtitle {
  margin-bottom: 20px;
}

.donation__button {
  margin-bottom: 20px;
  padding: 9px 15px;
  border-radius: 9px;
}

.donation__description {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.donation__image {
  width: 100%;
}

.bank-requisites__text {
  margin-left: 11px;
}

.footer {
  background: url(../../assets/images/noise_lines_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__wrapper {
  padding-top: 40px;
}
@media (max-width: 1024px) {
  .footer__wrapper {
    padding-top: 15px;
    flex-wrap: wrap;
  }
}
@media (max-width: 700px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  padding-top: 16px;
}

.footer__image {
  width: 50%;
  text-align: right;
  height: auto;
  max-height: 100%;
  display: inline-block;
  align-self: flex-end;
}
@media (max-width: 1024px) {
  .footer__image {
    width: auto;
    margin: 64px auto 0;
  }
}
@media (max-width: 700px) {
  .footer__image {
    width: auto;
    margin: 90px auto 0;
    height: 270px;
  }
}

.pets__image {
  width: auto;
  max-height: 100%;
}

.footer__title {
  color: #fff;
}

.footer__link {
  font-size: 20px;
  color: #f1cdb3;
  text-align: left;
}

.contacts {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .contacts {
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
}

.contacts__title {
  color: #fff;
  width: 90%;
}
@media (max-width: 700px) {
  .contacts__title {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
  }
}
@media (max-width: 700px) {
  .contacts__title {
    width: 100%;
    text-align: center;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 16px;
  align-items: flex-start;
}
.contacts__item:not(:first-child) {
  padding-left: 93px;
}
@media (max-width: 1024px) {
  .contacts__item:not(:first-child) {
    padding-left: 20px;
  }
}
@media (max-width: 1024px) {
  .contacts__item {
    width: 45%;
  }
}
@media (max-width: 700px) {
  .contacts__item {
    width: 100%;
  }
  .contacts__item:not(:first-child) {
    margin-top: 24px;
    margin-left: -9px;
  }
}

.contacts__link {
  margin-top: 40px;
}

.location__link {
  margin-top: 33px;
}
@media (max-width: 700px) {
  .location__link {
    margin-left: -10px;
    width: 300px;
  }
}

@media (max-width: 700px) {
  .requisites__link {
    margin-left: 10px;
  }
}

.footer__location {
  margin-left: -25px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.link:hover {
  border: none;
  color: #fafafa;
}

.link__text {
  margin-left: 20px;
  text-align: left;
  color: #f1cdb3;
  letter-spacing: 0.12rem;
}

/*# sourceMappingURL=style.css.map */
