@import "base/normalize";

// Abstract
@import "abstract/constants";
@import "abstract/placeholders";
@import "abstract/mixins";

// Base
@import "base/base";
@import "base/buttons";

/*
 * Variables
 */
:root {

  /* Text */
  --h2-ff: "Georgia", sans-serif;
  --h2-fw: normal;
  --h2-fs: normal;
  --h2-fsz: 3.14rem;
  --h2-lh: 130%;

  --h3-ff: "Georgia", sans-serif;
  --h3-fw: normal;
  --h3-fs: normal;
  --h3-fsz: 2.5rem;
  --h3-lh: 130%;
  --h3-ls: 0.15rem;

  --h4-ff: "Georgia", sans-serif;
  --h4-fw: normal;
  --h4-fs: normal;
  --h4-fsz: 1.43rem;
  --h4-lh: 115%;
  --h4-ls: 1.1px;

  --h5-ff: "Georgia", sans-serif;
  --h5-fw: normal;
  --h5-fs: normal;
  --h5-fsz: 1.07rem;
  --h5-lh: 110%;
  --h5-ls: 0.9px;

  --paragraph-l-ff: "Arial", sans-serif;
  --paragraph-l-fw: normal;
  --paragraph-l-fs: normal;
  --paragraph-l-fsz: 15px;
  --paragraph-l-lh: 160%;

  --paragraph-s-ff: "Arial", sans-serif;
  --paragraph-s-fw: normal;
  --paragraph-s-fs: italic;
  --paragraph-s-fsz: 0.86rem;
  --paragraph-s-lh: 150%;

  --logo-title-ff: "Georgia", sans-serif;
  --logo-title-fw: normal;
  --logo-title-fs: normal;
  --logo-title-fsz: 2.29rem;
  --logo-title-lh: 110%;
  --logo-title-ls: 0.13rem;

  --logo-subtitle-ff: "Arial", sans-serif;
  --logo-subtitle-fw: normal;
  --logo-subtitle-fs: normal;
  --logo-subtitle-fsz: 13px;
  --logo-subtitle-lh: 130%;
  --logo-subtitle-ls: 1.3px;

  --btn-ff: "Georgia", sans-serif;
  --btn-fw: normal;
  --btn-fs: normal;
  --btn-fsz: 1.21rem;
  --btn-lh: 130%;
  --btn-ls: 0.075rem;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}
