.button {
  @extend %font-btn;
  background-color: transparent;
  padding: 15px 43px;
  border: 2px solid $color-primary;
  border-radius: 100px;
  transition: all 0.5s ease;
  &:hover {
    background-color: $color-primary-light;
    cursor: pointer;
  }
  &--squared {
    background-color: transparent;
    padding: 0;
    // padding-bottom: 3px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
  }
  &--filled {
    background-color: $color-primary;
  }
  &--inactive {
    border-color: $color-dark-s;
    color: $color-dark-s;
    &:hover {
      background-color: transparent;
    }
  }
}

.button__image {
  vertical-align: middle;
}
