.button {
  @extend %font-btn;
  background-color: transparent;
  padding: 15px 45px;
  border: 2px solid $color-primary;
  border-radius: 100px;
  &:hover {
    background-color: $color-primary-light;
    cursor: pointer;
  }
  &--filled {
    background-color: $color-primary;
  }
  &--flipped {
    background-color: transparent;
    padding: 0;
    padding-bottom: 3px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
  }
}

.button__image {
  vertical-align: middle;
}
