.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  z-index: 1;
  @include media-tablet-small {
    margin-right: 40px;
  }
}

.logo__title {
  @extend %font-logo-title;
  color: $color-primary;
  &--dark {
    color: $color-dark-l;
  }
}

.logo__subtitle {
  @extend %font-logo-subtitle;
  color: $color-light-xl;
  padding-left: 2px;
  &--dark {
    color: $color-dark-3xl;
  }
}
