.about__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.about__content {
  width: 430px;
  margin-left: 120px;
}

.about__title {
  width: 80%;
  color: $color-dark-l;
}

.about__paragraph {
  color: $color-dark-xl;
  margin-top: 25px;
}
