.about__wrapper {
  @extend %content-wrapper;
}

.about__content {
  width: 430px;
  margin-left: 120px;
}

.about__title {
  width: 80%;
  color: $color-dark-l;
}

.about__paragraph {
  color: $color-dark-xl;
  margin-top: 25px;
}
