.donation {
  background-color: $color-light-l;
}

.donation__wrapper {
  @include content-wrapper();
  // padding-top: 82px;
  @media (max-width: 890px) {
    flex-direction: column;
  }
}

.donation__content {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin-left: 30px;
  @media (max-width: 890px) {
    order: -1;
    margin-left: 0;
    padding-bottom: 59px;
  }
  @include media-mobile-big {
    align-items: center;
    text-align: center;
  }
}

.donation__title {
  width: 80%;
  margin-bottom: 20px;
}

.donation__subtitle {
  margin-bottom: 20px;
}

.donation__button {
  margin-bottom: 20px;
  padding: 9px 15px;
  border-radius: 9px;
}

.donation__description {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: $color-dark-m;
  @include media-tablet {
    text-align: justify;
  }
}

.donation__image {
  width: 100%;
}

.bank-requisites {
  text-align: left;
}

.bank-requisites__text {
  @extend %font-h4;
  margin-left: 11px;
  @include media-mobile-big {
    font-size: 1.5rem;
  }
}
