.hero {
  position: relative;
  width: 100%;
  background: url(../../assets/images/noise_lines_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.hero__wrapper {
  align-items: center;
  margin-top: 180px;
  justify-content: flex-start;
  @include media-tablet {
    flex-direction: column;
    margin-top: 150px;
  }
}

.hero__image {
  width: auto;
  height: 100%;
  align-self: flex-end;
  margin-left: 42px;

  @include media-laptop {
    height: auto;
    max-height: 593px;
  }

  @include media-laptop-small {
    max-height: 400px;
  }

  @include media-tablet {
    max-height: 593px;
    width: 100%;
  }
}

.utp {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 460px;
  padding-bottom: 80px;
  @include media-tablet {
    padding-bottom: 100px;
  }
}

.utp__title {
  color: $color-light-xl;
  width: 80%;
}

.utp__subtitle {
  @extend %font-paragraph-l;
  color: $color-dark-s;
  margin-top: 42px;
}

.utp__button {
  margin-top: 42px;
  color: $color-dark-3xl;
  @include media-tablet {
    align-self: center;
  }
}
