.menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 2px;
}

.menu__item {
  &--active {
    color: $color-light-s;
    border-bottom: 3px solid $color-primary;
  }
}

.menu__link {
  @extend %font-paragraph-l;
  color: $color-dark-s;
  &:hover {
    color: $color-light-s;
  }
}
