.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
   // Emulated flex gap
  margin: -40px 0 0 -40px;
  width: calc(100% + 40px);
  > * {
    margin: 40px 0 0 40px;
  }
  @include media-laptop {
    justify-content: center;
  }
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $color-light-s;
  padding-bottom: 30px;
  margin-bottom: 30px;
  &:hover {
    cursor: pointer;
    background-color: $color-light-s;
  }
  @include media-tablet {
    &:nth-child(n + 7) {
      display: none;
    }
  }
}

.slider__list {
  padding-bottom: 30px;
  @include media-tablet {
    padding-bottom: 10px;
  }
}

.slider__title {
  @include font($size: 2rem, $height: 2.3rem);
  color: $color-dark-l;
  letter-spacing: 0.11rem;
  margin: 30px auto;
}

.slide__title {
  @include font($size: 2rem, $height: 2.3rem);
  color: $color-dark-l;
  letter-spacing: 0.11rem;
  margin: 30px auto;
}

.slider__button {
  padding: 13px 42px;
}

.slider__prev {
  margin-right: -37px;
}

.slider__next {
  margin-left: -37px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__button {
  &:not(:first-child) {
    margin-left: 20px;
    @include media-mobile-big {
      margin-left: 10px;
    }
  }
}
